<% if posts.present? %>
  <% posts.each do |post| %>
    <div class="mt-10 border-b pb-8">
      <h2 class="text-xl font-semibold text-[#3a2d20] mb-1" style="font-family: 'Noto Serif KR', serif; font-weight: 700;">
        <%= link_to post.title, post_path(post), class: "hover:underline" %>
      </h2>

      <p class="text-sm leading-relaxed text-[#5b5045] mb-2" style="font-family: 'Noto Serif KR', serif;">
        <%= truncate(post.top_content.to_s, length: 150) %>
      </p>

      <p class="text-xs text-[#7c6243] mb-1" style="font-family: 'Inter', sans-serif;">
        <%= Post.book_genre_korean[post.book_genre.to_sym] || "정보 없음" %> |
        <%= post.category.present? ? Post.category_korean[post.category.to_sym] : "정보 없음" %>
      </p>

      <div class="text-xs text-[#999] space-x-3 flex items-center" style="font-family: 'Inter', sans-serif;">
        <% unless post.draft %>
        <span>
          <%= time_ago_in_korean(post.created_at) %>,
          <%= post.user&.name || post.user&.email || "익명" %> 씀
        </span>
          <% end %>


        <% if post.draft %>
          <span class=" text-[#aa0000] ">작성중인 게시물입니다.</span>
        <% end %>

        <% unless post.draft %>
          <span class="flex items-center space-x-1 ml-3">
            <%= image_tag("icon/post/brownviews.svg", alt: "views icon", class: "w-4 h-4") %>
            <span><%= post.view_count || 0 %></span>
          </span>

          <span class="flex items-center space-x-1">
            <%= image_tag("icon/post/brownoutlinedhear.svg", alt: "likes icon", class: "w-4 h-4") %>
            <span><%= post.like_count || 0 %></span>
          </span>

          <span class="flex items-center space-x-1">
            <%= image_tag("icon/post/browncomments.svg", alt: "comments icon", class: "w-4 h-4") %>
            <span><%= total_comments_count(post) %></span>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="mt-10 text-center text-sm text-[#a09388] italic">
    아직 게시물이 없습니다.
  </div>
<% end %>
