<!-- app/views/users/new.html.erb -->
<h2 class="text-center text-lg font-bold mb-4">회원가입</h2>

<%= form_with model: @user, url: users_path, method: :post, local: true, class: "flex flex-col space-y-4" do |f| %>
  <div>
    <%= f.label :email, class: "block mb-1 text-center" %>
    <%= f.email_field :email, class: "border p-2 w-full" %>
  </div>

  <div>
    <%= f.label :password, class: "block mb-1 text-center" %>
    <%= f.password_field :password, class: "border p-2 w-full" %>
  </div>

  <div>
    <%= f.label :password_confirmation, class: "block mb-1 text-center" %>
    <%= f.password_field :password_confirmation, class: "border p-2 w-full" %>
  </div>

<button type="submit" class="bg-yellow-300 py-2 text-center w-full">회원가입</button>

<% end %>
