<div class="max-w-xs mx-auto mt-20 p-4 bg-white rounded-lg shadow-lg">
  <h2 class="text-center text-lg font-bold mb-4">비밀번호 변경</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "flex flex-col space-y-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div>
      <%= f.label :password, "새 비밀번호", class: "block mb-1 text-center" %>
      <% if @minimum_password_length %>
        <em class="block mb-2 text-center">(<%= @minimum_password_length %>자 이상)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "border p-2", style: "display: block; margin: 0 auto;", required: true %>
    </div>

    <div>
      <%= f.label :password_confirmation, "비밀번호 확인", class: "block mb-1 text-center" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border p-2", style: "display: block; margin: 0 auto;", required: true %>
    </div>

    <div>
      <%= f.submit "비밀번호 변경하기", class: "w-full bg-yellow-300 py-2" %>
    </div>
  <% end %>

  <div class="flex justify-center items-center mt-4 text-sm">
    <%= link_to "로그인으로 돌아가기", new_user_session_path, class: "w-full bg-gray-300 py-2 text-center block rounded text-black" %>
  </div>
</div>
