<!DOCTYPE html>
<html>
  <head>
    <title>NeoBookClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="site-header">
      <div class="header-container">
        <div class="logo">
          <%= image_tag "logo.svg", alt: "NeoBookClub Logo", class: "logo" %>
          <span class="brand">BookCafe</span>
        </div>

        <div class="search-box">
          <input type="text" placeholder="책 제목, 저자, 글 제목, 글 저자..." />
          <button class="search-btn">🔍</button>
        </div>

        <div class="nav-links">
          <a href="#">프로필</a>
          <a href="#">설정</a>
        </div>
      </div>
    </header>

     <%= render 'layouts/sidebar' %>

  <main class="main-content h-[calc(100vh-4rem)] overflow-auto p-6">
  <%= yield %>
</main>

  </body>
</html>
