<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <title>NeoBookCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="site-header">
      <div class="header-container">
        <%# <div class="logo">
          <%= image_tag "logo.svg", alt: "NeoBookCafe Logo", class: "logo" %>
          <%# <span class="brand">BookCafe</span>
        </div> %> 
  <%= link_to root_path, class: "logo flex items-center space-x-2" do %>
  <%= image_tag "logo.svg", alt: "NeoBookCafe Logo", class: "logo" %>
  <span class="brand">BookCafe</span>
<% end %>

        <div class="search-box">
          <input type="text" placeholder="책 제목, 저자, 글 제목, 글 저자..." />
          <button class="search-btn">🔍</button>
        </div>

        <div class="nav-links">
          <%= link_to "프로필", profile_path %>
          <%= link_to "설정", settings_path %>
            <%= link_to "로그인", login_path %>
        </div>
         <%# <button onclick="openModal()" class="bg-blue-600 px-4 py-2">
            로그인
          </button> %>
      </div>
    </header>

    <%= render 'layouts/sidebar' %>

    <main class="main-content h-[calc(100vh-4rem)] overflow-auto p-6">
      <%= yield %>
    </main>


  </body>
</html>
