<!DOCTYPE html>
<html>
  <head>
    <%# <%= favicon_link_tag 'favicon.png'  %>
    <%= favicon_link_tag 'favicon.svg', rel: 'icon', type: 'image/svg+xml' %>
   <%= javascript_importmap_tags %> 



    <title>NeoBookCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <!-- 구글 폰트 프리커넥트 & 폰트 불러오기 -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet" />


    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <div class="header-container">
        <%# <div class="logo">
          <%= image_tag "logo.svg", alt: "NeoBookCafe Logo", class: "logo" %>
          <%# <span class="brand">BookCafe</span>
        </div> %> 
  <%= link_to root_path, class: "logo flex items-center space-x-2" do %>
  <%= image_tag "logo.svg", alt: "NeoBookCafe Logo", class: "logo" %>
  <span class="brand">BookCafe</span>
<% end %>

      <%= form_with url: search_path, method: :get, class: "search-box", data: { turbo: false } do |f| %>
  <%= f.text_field :q, 
      value: params[:q], 
      placeholder: "책 제목, 저자, 글 제목, 글 저자...", 
      class: "search-input" %>
  <%= f.button "🔍", 
      type: "submit", 
      class: "search-btn",
      name: nil %>
<% end %>


   <div class="nav-links">
  <% if user_signed_in? %>
    <button id="toggle-right-sidebar" class="text-[14px] text-[#333] no-underline">프로필</button>
    <%= link_to "설정", settings_path %>
      <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "text-[14px] text-[#333] no-underline" %>
  <% else %>
    <%= link_to "로그인", new_user_session_path %>
  <% end %>
</div>


         <%# <button onclick="openModal()" class="bg-blue-600 px-4 py-2">
            로그인
          </button> %>
      </div>
<% if @show_sidebar %>
  <div class="bg-[#f3ede3] pt-1 text-sm text-[#7c6243] flex justify-center space-x-8 relative">
    <% if params[:category] == "creation" %>
      <%= link_to "전체", posts_path(category: :creation), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "시", posts_path(category: :creation, book_genre: :poetry), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "에세이", posts_path(category: :creation, book_genre: :essay), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "소설", posts_path(category: :creation, book_genre: :novel), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
    <% else %>
      <%= link_to "전체", posts_path(category: params[:category]), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "철학", posts_path(category: params[:category], book_genre: :philosophy), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "문학", posts_path(category: params[:category], book_genre: :literature), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "역사", posts_path(category: params[:category], book_genre: :history), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "사회", posts_path(category: params[:category], book_genre: :society), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "경제", posts_path(category: params[:category], book_genre: :economy), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
      <%= link_to "과학/기술", posts_path(category: params[:category], book_genre: :science_technology), class: "pb-1 border-b-2 border-transparent hover:border-[#7c6243]" %>
    <% end %>
  </div>
<% end %>


    </header>



    <%= render 'layouts/sidebar' %>

    <main class="main-content h-[calc(100vh-4rem)] overflow-auto p-6">
      <%= yield %>
    </main>



<div id="right-sidebar" class="hidden fixed top-16 right-0 h-[calc(100vh-4rem)] w-64 bg-[#f0ece3] text-[#7c6243] shadow-lg z-50">

     <%= render 'layouts/right_sidebar' %>

</div>
  </body>
</html>

